<div class="text-center">
  <h1>Welcome</h1><br>
  <%= form_with(scope: "session", url: sessions_path, local: true) do |form| %>
  <% if @error %>
    <div id="error_explanation">
      <h2>Invalid username and password:</h2>

      <ul>
        <li><%= @error %></li>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email %>
  </div><br>

  <div class="field">
    <%= form.label :password %>
    <%= form.password_field :password %>
  </div><br>

  <div class="actions">
    <%= form.submit "Log in" %>
  </div>
<% end %>
</div>
