<%= form_for(@recommendation) do |f| %>
<h3>Edit your Pair!</h3>
<label>Choose your wine</label>
<%= f.collection_select :wine_id, Wine.all, :id, :name %><br>
<label>Choose your category</label>
<%= f.collection_select :category_id, Category.all, :id, :name %><br>
<%= f.label :comment %>
<%= f.text_area :comment %>
<%= f.submit "Edit Recommendation" %>
<% end %>
