<div class="container">
  <div class="row">
    <div class="col-sm-9">
      <h2>User Recommendations</h2>
    </div>
    <div class="col-sm-3">
      <a href="/recommendations/new" class="btn btn-secondary btn-lg" role="button" aria-pressed="true">Recommend a Pair<ion-icon name="wine"></ion-icon></a>
    </div>
  </div><br><br>

  <div class="container">
    <div class="row">
      <% @recommendations.each do |recommendation| %>
      <div class="col-sm-4" style="padding:10px;">
       <div class="card" style="width: 18rem;">
         <div class="card-body">
           <h5 class="card-title"><%= recommendation.wine.name %> with <%= recommendation.category.name %></h5>
           <h6 class="card-subtitle mb-2 text-muted"><%= recommendation.user.name %> 's recommendation</h6><br>
           <p class="card-text"><%= recommendation.comment %></p>
           <span><%= recommendation.created_at.localtime.strftime("%m/%d/%Y")%></span>
         </div>
       </div>
     </div>
     <% end %>
   </div><br>
  </div>
