
<h2>Recommendations</h2>
<span>Recommend a Pair</span>
<a href="/recommendations/new"><ion-icon name="wine"></ion-icon></a><br><br>

<ol>
  <% @recommendations.each do |recommendation| %>
<li>
  <%= recommendation.user.name %> recommended <%= recommendation.wine.name %> with <%= recommendation.category.name %> on  <%= recommendation.created_at.localtime.strftime("%m/%d/%Y") %>
</li><br>
  Reason:<%= recommendation.comment %><br> <br>
<% end %>
</ol>
