<p id="notice"><%= notice %></p>
<div>
  <div class="row">
    <div class="col">
    </div>

    <div class="col text-right" style="padding-right:50px;">
<p>
  <strong>Username:</strong>
  <%= @user.email %>
</p>

<a href="/users/<%=@user.id%>/edit" class="btn btn-secondary btn-lg">Edit Profile <ion-icon name="create"></ion-icon></a>
</div>

</div>
</div>


<br><hr><br>
<div class="container">
<div class="row">
  <div class="col">

    <h2>Your Wine Reviews</h2><br>
    <% @user.reviews.each do |review| %>
    <div class="card" style="width: 20rem;">
      <div class="card-body">
        <h5 class="card-title"><%= review.wine.name %></h5>
        <h6 class="card-subtitle mb-2 text-muted"><%= review.created_at.localtime.strftime("%m/%d/%Y") %></h6><br>
        <p class="card-text">
      Title: <%= review.title %><br>
      Content: <%= review.content %><br>
      Rating: <%=review.rating%><br>
      </p><br>
      <span>Edit</span>
      <a href="/wines/<%=review.wine.id%>/reviews/<%=review.id%>/edit"><ion-icon name="color-wand"></ion-icon></a>
      <span>| Delete</span>
      <a href="/wines/<%=review.wine.id%>/reviews/<%=review.id%>" data-method="delete"><ion-icon name="trash"></ion-icon></a>
      <br>
  </div>
  </div>   <br>   <% end %>

  </div>
  <div class="col">
    <h2>Your Recommendations</h2><br>
    <% @user.recommendations.each do |recommendation| %>
    <div class="card" style="width: 20rem;">
      <div class="card-body">
        <h5 class="card-title"><%= recommendation.wine.name %> with <%= recommendation.category.name %></h5>
      <h6 class="card-subtitle mb-2 text-muted"><%= recommendation.created_at.localtime.strftime("%m/%d/%Y")%></h6><br>
      <p class="card-text"><%= recommendation.comment %></p><br>
      <span>Edit</span>
      <a href="/recommendations/<%=recommendation.id%>/edit"><ion-icon name="color-wand"></ion-icon></a>
      <span>| Delete</span>
      <a href="/recommendations/<%=recommendation.id%>" data-method="delete"><ion-icon name="trash"></ion-icon></a>
      <br>
    <% end %>
  </div>
</div>
</div>
