<p id="notice"><%= notice %></p>

<p>
  <strong>Username:</strong>
  <%= @user.email %>
</p>

<%= link_to 'Edit User', edit_user_path(@user) %>

<h2>Your Reviews</h2>
<ul>
<% @user.reviews.each do |review| %>
  <h5>Review of <%= review.wine.name %> from <%= review.created_at.strftime("%m/%d/%Y") %></h5>
  Title: <%= review.title %><br>
  Content: <%= review.content %><br>
  Rating: <%= review.rating %><br>
  <%= button_to "Edit Review", edit_wine_review_path(review.wine.id, review.id) , method: 'get' %>
  <%= button_to "Delete Review", wine_review_path(review.wine.id, review.id) , method: 'delete' %>
  <br>
<% end %>
</ul>

<h2>Your Recommendations</h2>
<ul>
<% @user.recommendations.each do |recommendation| %>
  <h5>Recommended <%= recommendation.wine.name %> with <%= recommendation.category.name %> on <%= recommendation.created_at.strftime("%m/%d/%Y") %></h5>
  Comment: <%= recommendation.comment %><br>
  <%= button_to "Edit Recommendation", edit_recommendation_path(recommendation) , method: 'get' %>
  <%= button_to "Delete Review", recommendation_path(recommendation) , method: 'delete' %>
  <br>
<% end %>
</ul>
