<p id="notice"><%= notice %></p>

<p>
  <strong>Username:</strong>
  <%= @user.email %>
</p>

<span>Edit Profile</span>
<a href="/users/<%=@user.id%>/edit"><ion-icon name="create"></ion-icon></a>
<br><hr><br>
<h2>Your Reviews</h2>
<ul>
<% @user.reviews.each do |review| %>
  <h5>Review of <%= review.wine.name %> from <%= review.created_at.localtime.strftime("%m/%d/%Y") %></h5>
  Title: <%= review.title %><br>
  Content: <%= review.content %><br>
  Rating: <%=review.rating%><br>
  <span>Edit</span>
  <a href="/wines/<%=review.wine.id%>/reviews/<%=review.id%>/edit"><ion-icon name="color-wand"></ion-icon></a>
  <span>| Delete</span>
  <a href="/wines/<%=review.wine.id%>/reviews/<%=review.id%>" data-method="delete"><ion-icon name="trash"></ion-icon></a>
  <br>
<% end %>
</ul>
<br>
<h2>Your Recommendations</h2>
<ul>
<% @user.recommendations.each do |recommendation| %>
  <br>
  <h5>Recommended <%= recommendation.wine.name %> with <%= recommendation.category.name %> on <%= recommendation.created_at.localtime.strftime("%m/%d/%Y") %></h5>
  Comment: <%= recommendation.comment %><br>
  <span>Edit</span>
  <a href="/recommendations/<%=recommendation.id%>/edit"><ion-icon name="color-wand"></ion-icon></a>
  <span>| Delete</span>
  <a href="/recommendations/<%=recommendation.id%>" data-method="delete"><ion-icon name="trash"></ion-icon></a>
  <br>
<% end %>
</ul>
