<!-- <% @pairings.each do |pairing| %>
<li><%= pairing.category.name %> - <%= pairing.wine.name %></li>
<% end %> -->
<!-- <% @pairings.each do |pairing| %>
<% @pairing = pairing %>
<% end %> -->
<%= form_tag(pairings_path, :method => 'get', id: 'search-from') do %>
  <label>Choose a Wine!</label><br>
  <%= radio_button_tag(:group, 'red', checked: true) %>
  <%= label_tag(:group_red, "Red Wine") %><br>
  <%= radio_button_tag(:group, 'white') %>
  <%= label_tag(:group_white, "White Wine") %><br>
  <label>Choose A Food Category: </label><br>
  <%= collection_select(:pairing, :category_id, Category.all, :id, :name)%><br>
  <br>
  <%= submit_tag "Pair", :name => nil %>
<% end %><br>

<% @pairings.each do |pairing| %>
  <li><%= link_to pairing.wine.name, pairing.wine %></li><br>
<% end %>
