<div class="container">
  <div class="row">
<div class="col-sm-2">
</div>
<div class="col-sm-10">
<%= form_for [@wine, @review] do |f| %>
  <h3>Edit Review for <%= @wine.name %></h3><br>
  <%= f.label :title  %>
  <%= f.text_field :title %><br><br>
  <%= f.label :content %><br>
  <%= f.text_area :content %><br><br>
  <label>Rate this Wine!</label><br>
  <%= radio_button_tag(:rating, 5 , checked: true) %>
  <%= label_tag(:rating_5, "5") %>
  <%= radio_button_tag(:rating, 4) %>
  <%= label_tag(:rating_4, "4") %>
  <%= radio_button_tag(:rating, 3) %>
  <%= label_tag(:rating_3, "3") %>
  <%= radio_button_tag(:rating, 2) %>
  <%= label_tag(:rating_2, "2") %>
  <%= radio_button_tag(:rating, 1) %>
  <%= label_tag(:rating_1, "1") %><br><br>
  <%= f.submit %>
<% end %>
</div>
</div>

</div>
