<!DOCTYPE html>
<html>
  <head>
    <title>Wine Wizard</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', "https://fonts.googleapis.com/css?family=Bad+Script" ,  media: 'all', 'data-turbolinks-track': true %>

    <%= javascript_include_tag "application", "https://unpkg.com/ionicons@4.2.4/dist/ionicons.js", 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <%= image_tag("wine_wiz_logo.png", style:'height:5% ;width:5%;' ,alt:"wine_wiz_logo") %>
        <span style="font-size:1.25rem;">Wine Wizard</span>
      <div class="container" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
              <a class="nav-link" href="/pairings">Pair Search<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/wines">Wine List</a>
            </li>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/categories">Food Categories</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/recommendations">Recommendations</a>
            </li>
        <!-- <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Recommendations
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/recommendations/new">Add Recommendation</a>
          <a class="dropdown-item" href="/recommendations">Browse Recommendations</a>
        </div>
      </li> -->
          </ul>
        <div class="navbar-text my-2 my-lg-0">
          <% if @logged_in_user %>
            <span><%= @logged_in_user.name %></span>
            <a href="/users/<%=@logged_in_user.id%>"><ion-icon name="person"></ion-icon></a>
            <span>| Logout</span>
            <a href="/logout" data-method="delete"><ion-icon name="log-out"></ion-icon></a>
          <% else %>
            <span>Register</span>
            <a href="/users/new"><ion-icon name="person-add"></ion-icon></a>
            <span>| Login</span>
            <a href="/sessions/new"><ion-icon name="log-in"></ion-icon></a>
          <% end %>
        </div>
      </div>
    </nav><br><br><br>
    <%= yield %>
  </body>
</html>
