<!DOCTYPE html>
<html>
  <head>
    <title>Wine Wizard</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', "https://fonts.googleapis.com/css?family=Lato",  media: 'all', 'data-turbolinks-track': true %>
    <%= javascript_include_tag "https://unpkg.com/ionicons@4.2.4/dist/ionicons.js", 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">Wine Wizard</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
              <a class="nav-link" href="/pairings">Pair Search<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/wines">Wine List</a>
            </li>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/categories">Food Categories</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/recommendations">Recommendations</a>
            </li>
          </ul>
        <div class="navbar-text my-2 my-lg-0">
          <% if @logged_in_user %>
          <span><%= @logged_in_user.name %></span>
          <a href="/users/<%=@logged_in_user.id%>"><ion-icon name="person"></ion-icon></a>
            <span>| Logout</span>
            <a href="/logout" data-method="delete"><ion-icon name="log-out"></ion-icon></a>

          <% else %>
            <span>Register</span>
            <a href="/users/new"><ion-icon name="person-add"></ion-icon></a>
            <span>| Login</span>
            <a href="/sessions/new"><ion-icon name="log-in"></ion-icon></a>
          <% end %>
        </div>
      </div>
    </nav><br><br><br>
    <%= yield %>
  </body>
</html>
